
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-family: 'Alumni Sans Inline One', cursive;
  font-family: 'Mouse Memoirs', sans-serif; */
  font-family: 'Nunito', sans-serif;
}


