
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-family: 'Alumni Sans Inline One', cursive;
  font-family: 'Mouse Memoirs', sans-serif; */
  font-family: 'Nunito', sans-serif;
}


.main_body {
  min-height: calc(100vh);
}
.doughnut-chart svg {
  width: 100% !important;
  height: 400px !important;
}
.bar-chart svg {
  width: 100% !important;
  height: 400px !important;
}